.group__detail{
    width: 100%;
}
.group__detail-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.group_detail-title{
    margin-bottom: 0px;
}
.group__detail-head{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.group__detail-btn{
    display: flex;
    align-content: end;
    justify-content: center;
    gap: 5px;
}
.group_detail-btn{
    background: var(--button);
    color: var(--text);
    border-radius: 10px;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
    transition: ease-out 0.3s;
    height: 40px;
}
.group_detail-btn:hover{
    background: var(--button-hover);
}
.edit{
    width: 80px;
}
.delete{
    width: 100px;
}
.group__detail-wraper{
    padding-bottom: 40px;
}