.group__detail{
    width: 100%;
}
.group__detail-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 780px;
}
.group__detail-btn{
    display: flex;
    align-content: end;
    justify-content: center;
    gap: 5px;
}
.group_detail-btn{
    background: var(--button);
    color: var(--text);
    border-radius: 10px;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
    transition: ease-out 0.3s;
    height: 40px;
}
.group_detail-btn:hover{
    background: var(--button-hover);
}
.edit{
    width: 80px;
}
.delete{
    width: 100px;
}